<nav class="abf-tabs" data-group="primary" aria-role="tablist">
  {{#each tabs}}
  {{#unless this.hidden}}
  <button type="button" class="abf-tab {{this.cssClass}} {{#if this.active}}active{{/if}}"
          data-tab="{{this.id}}" data-group="primary"
          aria-selected="{{this.active}}">
    {{localize this.label}}
  </button>
  {{/unless}}
  {{/each}}
</nav>
